#images versions to use
NGINX_VERSION=latest
MAILPIT_VERSION=latest

#domain or subdomain where you want to access mail
#self signed host should be added only local
DOMAIN_HOST=mail.dev.local
SELF_SIGNED_HOST=mail.dev.local

#email where you should receive lets encrypt renewal failures
DOMAIN_EMAIL=email@email.com

#what vhost file to use, edit contents to match domain above, example in docker/nginx/custom.conf
VHOST_FILE=custom.conf

#what port you should connect from other applications
MAILPIT_PORT=1025
